<h1>Surveys</h1>

<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Author</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
  <% @surveys.each do |survey| %>
    <tr>
      <td><%= link_to survey.title, admin_survey_path(survey) %></td>
      <td><%= survey.author_username %></td>
      <td>Edit goes here</td>
      <td>Delete goes here</td>
    </tr>
  <% end %>
  </tbody>
</table>
