<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb('Appointments', admin_appointments_path) %>
  <%= breadcrumb_active('Cancelled Appointments') %>
</ol>

<h1>Cancelled Appointments</h1>
<%= render partial: 'admin/shared/appointment_table', locals: { appointments: @cancelled_appointments } %>
