<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb_active('Searches') %>
</ol>

<h1>Top 10 Product Searches</h1>

<ol>
  <% @searches.each do |search| %>
   <li> <%= search.term %> </li>
  <% end %>
</ol>
