body.stylists.show {
  .profile-photo {
    display: block;
    margin: 0 auto;
  }
  .social-media {
    text-align: center;
    margin-top: 15px;
  }
  .book-appointment {
    width: 95%;
    margin: 30px auto;
  }
}
