body.stylists.show, body.stylists.preview {
  .profile-photo {
    display: block;
    margin: 0 auto;
  }

  .book-appointment {
    width: 95%;
    margin: 30px auto;
  }

  .stylist-reviews {
    list-style: none;
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .stylist-review {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #stylistCalendar {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .quickview .label {
    margin-right: 10px;
  }

  .client-preview {
    margin-top: 10px;
  }

  /* Taken from internet */
  /* http://bootsnipp.com/snippets/featured/user-comment-example */
  .thumbnail {
    padding:0px;
  }
  .panel {
    position:relative;
  }
  .panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
  }
  .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
  }
  .panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
  }
}
