<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4>The form contains <%= pluralize(object.errors.count, "error") %>.</h4>
    <ul>
      <% object.errors.full_messages.each do |error|  %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
