<h1>Appointment Confirmation</h1>
<p>
  New appointment on <%= @appointment.start_time %>
</p>

<p>
Order consists of <%= @appointment.product_names %> for a total
of <%= number_to_currency @appointment.order_subtotal %>
</p>
