<h1>Clients</h1>

<table class="table table-hover">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <% if @stylist.premium_member? %>
      <th>Birth Date</th>
    <% end %>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.phone_number %></td>
        <% if @stylist.premium_member? %>
          <td><%= client.dob %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


