<%= bs_column(12) do %>
  <h2 id="<%= product_type.downcase.split.join('_') %>"><%= product_type %></h2>
  <table class="table table-hover">
    <thead>
      <th width="15%">Name</th>
      <th width="5%">Price</th>
      <th width="5%">Duration (minutes)</th>
      <th width="60%">Details</th>
      <th width="5%">Quantity</th>
      <th width="10%"></th>
    </thead>
    <tbody>
      <%= render partial: 'stylists/client_service_product', collection: product_collection %>
    </tbody>
  </table>
<% end %>
