<h1>Schedule</h1>

<% if !@stylist.has_current_schedule? %>
  <%= @stylist.current_schedule_button %>
<% else %>
  <%= @stylist.current_schedule_button %>
  <%= @stylist.future_schedule_button %>
<% end %>

<div id='stylistCalendar'></div>

<%= content_tag "div",
  id: "eventSources",
  data: {event_sources: @event_sources } do %>
<% end %>
