<h1>Schedule</h1>

<%= @stylist.current_schedule_button %>
<%= @stylist.future_schedule_button %>

<div id='stylistCalendar'></div>

<%= content_tag "div",
  id: "eventSources",
  data: {event_sources: @event_sources } do %>
<% end %>
