<tr>
  <td><%= stylist_service_product.name %></td>
  <td>
    <%= check_box_tag '',
      '1', stylist_service_product.displayed,
      class: 'service-product-checkbox',
      id: stylist_service_product.id %>
  </td>

  <td><%= stylist_service_product.minute_duration %></td>
  <td>
    <i class="fa fa-cog fa-2x"></i>
  </td>
</tr>
