<div class="alert alert-danger text-center">
  <strong> WARNING! </strong> You are in client preview mode. This is what your profile looks like to clients.
  <%= link_to 'Return to profile', stylist_path(@stylist) %>
</div>

<%= render 'client_view' %>
