<div class="jumbotron">
  <h1>VersaStylists</h1>
  <p>The premier marketplace for cosmetic styling</p>
  <p>
    <%= link_to 'Sign up as client', new_user_registration_path(role: 'client'), class: 'btn btn-success' %>
    <%= link_to 'Sign up as stylist', new_user_registration_path(role: 'stylist'), class: 'btn btn-success' %>
  </p>
</div>
