Successfully registered.
Just a few questions to get started
<a href="#skip">skip</a>
<input type="checkbox" id="service-children">
<input type="checkbox" id="have-pets">
<input type="checkbox" id="indoor-smoker">
<input type="checkbox" id="place-carpeted">
<input type="checkbox" id="medical-skin-conditions">

<input type="submit" value="Submit">
</div>

<%= simple_form_for @questionnaire, url: user_questionnaires_path(@user), method: :post do |f| %>
  <%= f.association :answers %>
  <%= f.button :submit %>
<% end %>
