Successfully registered.
Just a few questions to get started
<a href="#skip">skip</a>
<input type="checkbox" id="service-children">
<input type="checkbox" id="have-pets">
<input type="checkbox" id="indoor-smoker">
<input type="checkbox" id="place-carpeted">
<input type="checkbox" id="medical-skin-conditions">

<input type="submit" value="Submit">
</div>

find(:css, "#have-pets").set(true)
      find(:css, "#indoor-smoker").set(true)
      find(:css, "#place-carpeted").set(true)
      find(:css, "#medical-skin-conditions").set(true)
