<tr>
  <td> <%= order_item.name %>  </td>
  <td> <span class="badge"><%= order_item.quantity %></span> </td>
  <td> <%= order_item.total_minutes %>  </td>
  <td> <%= number_to_currency order_item.total_price %> </td>
</tr>
