<h1>Stylist: <%= @stylist.username %></h1>

<h1>Appointments</h1>
<hr />

<h2>Upcoming</h2>
<%= render partial: 'admin/shared/appointment_table', locals: { appointments: @future_appointments } %>

<h2>Past Appointments</h2>
<%= render partial: 'admin/shared/appointment_table', locals: { appointments: @past_appointments } %>

<h2>Cancelled Appointments</h2>
<%= render partial: 'admin/shared/appointment_table', locals: { appointments: @cancelled_appointments } %>
