<h1>Find Appointment For <%= @service_menu.name %></h1>

<%= form_tag menu_filter_appointments_path(@service_menu), method: :get do %>
  <%= text_field_tag :query, params[:query], id: "product-search" %>
  <%= submit_tag "Search", name: nil, class: 'btn btn-success' %>
<% end %>
