<% keys = ['info', 'warning', 'danger', 'success'] %>
<%# quick hack to make sure alerts are displaying. TODO: add new flash types that are in line with bootstrap %>

<div class="container">
  <%- flash.each do |key, value| -%>
    <div class="alert alert-<%= keys.include?(key) ? key : 'info' %>">
      <%= value %>
    </div>
  <%- end -%>
</div>
