<% keys = ['info', 'warning', 'danger', 'success'] %>
<%# quick hack to make sure alerts are displaying. TODO: figure out how to override devise's default :notice %>

<div class="container">
  <%- flash.each do |key, value| -%>
    <div class="alert alert-<%= keys.include?(key) ? key : 'info' %>">
      <%= value %>
    </div>
  <%- end -%>

  <% unless current_user.completed_registration? %>
    <% unless registration_page? %>
      <div class="alert alert-warning">
        You still havn't finished your registration.
        <%= link_to 'Click here to finish', current_user.next_registration_step %>
      </div>
    <% end %>
  <% end %>
</div>

